*{
    margin: 0;
    padding: 0;
}
form input,
form button,
form select,
form textarea {
    padding: 5px;
    /* padding and spacing */
    border: 2px solid #ccc;
    /* thin border */
    border-radius: 10px;
    /* rounded corners */
    font-size: 16px;
    margin-bottom: 10px;
    /* space between inputs */
    width: auto;
    outline: none;
    background-color:#D6E8EE;
    
}

form input:focus,
form button:focus,
form select:focus,
form textarea:focus {
    border-color: #001B48;
}

form input[type="radio"] {
    width: auto;
}

form input[type="submit"] {
    width: auto;
    background-color: #D6E8EE;
    border-radius: 20px;
    color: #001B48;
}

form input[type="submit"]:hover {
    background-color: #02457A;
    color: white;
}

body {
    background-color: #ebebeb;
}

form {
    max-width: 600px; /* Adjusted max-width for better responsiveness */
    border: 2px solid #001b48;
    padding: 0 15px;
    border-radius: 18px;
    color: #001b48;
    background-color: white;
    margin: 0 auto; /* Centering the form */
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

label {
    display: inline-block;  
    width: 150px;
    text-align: left;
    margin-right: 40px;
    margin-bottom: 1px;
    font-size: 20px;
}
.input-group .error-message {
    display: none; /* Initially hide error messages  */
    color: red;
    font-size: 14px;
    margin-top: 0.1px;
  }
  
.error-message.active {
    display: block; /* Show error messages on validation failure */
  }

  /* Media queries for responsiveness */
  @media only screen and (max-width: 768px) {
    #navbar .navimg {
        margin-left: 20px;
    }

    #navbar ul {
        margin-right: 20px;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }
}


