.applied-jobs{
  text-align: left;
  margin-block-start: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 100px;
  
 
}
.job{
  width: 80%;
  border: 2px solid #02457a;
  height:200px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%; 
  border-radius: 18px;
  color: #02457a;
  background-color: white;
  margin-bottom: 1px;
  position: relative;
  
}
.job img{
  width:150px;
  height: 80px;
  margin-right:15px ;
  margin-top:15px;
  margin-bottom: 15px; 
  margin-left: 15px;
  border-radius: 5px;
}
.job-details {
          flex-grow: 1;
          margin-top: 50px;
     
}
.job-details h3, .job-details h5 {
  margin-bottom: 5px;
     
}
.job-details span {
      font-size: 10px;
      display: flex;
      align-items: center;
      /* margin-top:0; */
      margin-bottom: 25px;
      
  }  
.job-details .location{

  width:20px;
  height: 20px;
  margin-right: 5px; 
  margin-left: 0;

}
.job-details .time,.job-details .pound{

width:15px;
height: 15px;
margin-right: 5px; 

}

.job-btn {
  position: absolute; 
  top: 40%;
  right: 50px;
  text-decoration: none;
  background-color: #d6e8ee;
  color:#02457a;
  border:1px solid #02457a;
  width: auto;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  

}
.job-btn a{
  text-decoration: none;
  color: #02457a;
}


.job-btn:hover{
  background-color: #97CADB; 
  
}
.job-btn a:hover{
  color: white;
}
.job:hover{
  background-color: #02457a;
  color:#d6e8ee;
  transition:0.3s;
  transform: scale(1.09);
}




@media screen and (max-width: 630px) {
.job {
    width: 100%;
}

.job-details h3 {
    font-size: 16px; /* Decrease font size for job title */
}

.job-details h5 {
    font-size: 14px; /* Decrease font size for company name */
}

.job-details p {
    font-size: 12px; /* Decrease font size for application date */
}

.job-details .span {
    font-size: 12px; /* Decrease font size for location, time, and salary */
}
.job-btn{
  max-width:60px;
  width:auto;
  right: 10px;
}
}



footer{
background-color: #c8c7c7;
color: #02457A;
padding:15px;
padding-left: 30px;
box-sizing: border-box;
/* margin: 0; */
padding: 0;
width:100%;
}
footer .contact-option{
margin-right: 20px;
}
footer .bold{
font-weight: bold;
}
footer .bold i{
margin-right: 5px;
}
