
.container {
  font-size: 16px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px 50px;
  width: 600px;
  margin: 0 auto;
  border: 3px solid #02457a;
  border-radius: 18px;
  color: #02457a;
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-top: 185px;

}

.job-displayed-image {
  margin-top: -20px;
  margin-bottom: 20px;
}

.main-details-box {
  
  width:100%;
  background-color: white;
  top:auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: -150px;

}

.job-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.job-details-container h2 {
  margin-bottom: 10px;
  font-size: 30px;
}



.job-details p {
  margin-bottom: 20px;
  font-size:18px;
  
}

.job-details-container #job-description {
 
  text-align: left;
  font-size: 18px;
}

.job-details p span {

  font-weight: bold;
  font-size: 20px;
  }
  


.apply-button {
  width: auto;
  padding: 10px 20px;
  background-color: #d6e8ee;
  color: #001b48;
  border: 1px solid #02457a;
  border-radius: 10px;
}

.apply-button:hover {
  background-color: #02457a;
  color: #d6e8ee;
}

.apply-button:active {
  background-color: #001b48;
  color: #d6e8ee;
}
#apply {
  color: #018abe;
}



footer{
  background-color: #c8c7c7;
  color: #02457A;
  padding:15px;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer .contact-option{
  margin-right: 20px;
}
footer .bold{
  font-weight: bold;
}
footer .bold i{
  margin-right: 5px;
}


