*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
}
#created-jobs{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 50px;
    margin-bottom: 30px;
}
#created-jobs .job{
    width: 500px;
    text-align: center;
    border: 2px solid #02457a;
    /* height: 650px; */
    height: auto;
    padding: 0 15px;
    padding-bottom: 20px;
    border-radius: 18px;
    color: #02457a;
    background-color: white;
}
.jobdisplayedimg{
    width: 130px;
    height: 130px;
    margin-top:15px;
    margin-bottom: 15px; 
    border-radius: 5px;
}
.job ul{
    list-style: none; 
}
.job ul li{
    margin-bottom: 5px;
}
.bold{
    font-weight: bold;
    font-size: 18px;
}
#created-jobs::after{
    content:"";
    width: 500px;
}
.job h2, .job h3{
    margin-bottom:10px ;
}
.loc-span{
    margin-right: 10px;
}
span, p{
    font-size: 17px;
}
button a{
    text-decoration: none;
}
.job-btn, .delete-btn{
    padding: 5px;
    margin-top: 15px;
    background-color: #d6e8ee;
    color:#02457a;
    border:1px solid #02457a;
    width: auto;
    width: 140px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
.job-btn a, .delete-btn a{
    color: #02457A;
}
i{
    margin-right: 5px;
}
.job-btn i, .up-btn i, .delete-btn i{
    margin-left: 5px;
}
#created-jobs .job:hover{
    background-color: #02457a;
    color:#d6e8ee;
    transition:0.3s;
    transform: scale(1.09);
}
/* .up-btn{
    display: block;
    margin: 40px auto;
    padding: 10px;
    width: auto;
    width: 110px;
    font-size: 20px;
    font-weight: 500;
    background-color: #d6e8ee;
    border: 1px solid #02457a;
    color: #02457A;
}
.up-btn:hover{
    border-radius: 10px;
    transition:0.3s;
    transform: scale(1.3);
} */

a:visited{
    color: #02457a;
}
@media(max-width:768px){
    .job{
        width: 400px;
        height: 530px;
    }
    .job img{
        width: 110px;
        height: 110px;
    }
    .bold{
        font-size: 16px;
    }
    span, p{
        font-size: 14px;
    }
    .job-btn{
        width: 90px;
        font-size: 14px;
    }
}