* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
}
form input,
form textarea,
form select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 12px;
  width: 400px; 
  outline: none;
  background-color: #d6e8ee;
  margin-left: 10px; 
}

form input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  border-color: #001b48;
}

form {
  width: 650px;
  border: 2.5px solid #001b48;
  height: auto;
  padding: 20px;
  border-radius: 18px;
  color: #001b48;
  background-color: white;
  margin-left: 440px;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
  overflow: hidden; 
}

form input[type="radio"] {
  margin-left: 40px;
}
form select,
form option {
  margin-right: 90px;
}
form input[type="submit"],
form input[type="reset"] {
  width: auto;
  background-color: #d6e8ee;
  border-radius: 20px;
  color: #001b48;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #02457a;
  color: white;
}
body {
  background-color: #ebebeb;
}
label {
  display: inline-block;
  width: 50px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.error-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 2px;
  position: absolute;
}

.error-message.active {
  display: block;
  text-align: center;
}