* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #02457a;
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
}
#navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
  gap: 40px;
}
.navimg {
  width: 120px;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

#navbar a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #d6e8ee;
  font-weight: 800;
  font-size: 20px;
}

#navbar a:before,
nav a:after {
  content: "";
  position: absolute;
  background-color: #d6e8ee;
  height: 2px;
  width: 0;
  transition: 0.5s;
}
#navbar a:after {
  left: 0;
  bottom: -5px;
}
#navbar a:before {
  right: 0;
  top: -5px;
}
#navbar a:hover:after,
#navbar a:hover:before {
  width: 100%;
}
#navbar a:hover {
  color: #97cadb;
}

.available-jobs {
  font-size: 16px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 50px;
  width: 50%;
  margin: 0 auto;
  border: 3px solid #02457a;
  width: 600px;
  text-align: center;
  height: 800px;
  padding: 0 10px;
  border-radius: 18px;
  color: #02457a;
  background-color: white;
}

.available-jobs img {
  width: 130px;
  height: 140px;
  margin-top: 10px;
  border-radius: 5px;
}

.available-jobs ul {
  list-style: none;
}

.available-jobs li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.apply-button {
  width: auto;
  padding: 5px;
  margin-top: 10px;
  background-color: #d6e8ee;
  color: #001b48;
  border: 1px solid #02457a;
  width: auto;
  width: 100px;
  font-size: 16px;
  border-radius: 10px;
}

.apply-button:hover {
  font-size: 21px;
  background-color: #02457a;
  color: #d6e8ee;
  transition: 0.5s;
}
.apply-button:active {
  background-color: #001b48;
  color: #d6e8ee;
}
#apply {
  color: #018abe;
}
.bold {
  font-weight: bold;
  font-size: 18px;
}

#Description {
  margin-right: 490px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
}
