nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #02457A;
    width: 100%;
    
   
}
nav ul{
    display: flex;
    list-style-type: none;
    margin-right:50px;
    gap: 40px;
   

}
.logo{ 
 width: 120px;
 height: 90px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 50px;
}

nav a{
    display:inline-block ;
    position: relative;
    text-decoration: none;
    color: #D6E8EE;
    font-weight: 800;
    font-size: 20px;
    
}

nav a:before, nav a:after{
content:"";
position: absolute;
background-color:#D6E8EE;
height:2px;
width: 0;
transition:0.5s;
}
nav a:after{
left:0;
bottom: -5px;

}
nav a:before{
right: 0;
top:-5px;
}
nav a:hover:after,
nav a:hover:before{
  width: 100%;
} 
nav a:hover{
  color: #97CADB;

}

form input {
    padding: 5px;
    /* padding and spacing */
    border: 2px solid #ccc;
    /* thin border */
    border-radius: 10px;
    /* rounded corners */
    font-size: 16px;
    margin-bottom: 10px;
    /* space between inputs */
    width: auto;
    outline: none;
}

form input:focus{
    border-color: #001B48;
}
form {
    width: 500px;
    border: 2px solid #001B48;
    height: 400px;
    padding: 0 15px;
    border-radius: 18px;
    color: #001B48;
    background-color: white;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}
form input[type="submit"] {
    width: auto;
    background-color: #D6E8EE;
    border-radius: 20px;
    color: #001B48;
}

form input[type="submit"]:hover {
    background-color: #02457A;
    color: white;
}
body {
    background-color: #ebebeb;
}
label {
    display: inline-block;  
    width: 150px;
    text-align: left;
    margin-right: 40px;
    margin-bottom: 5px;
}
