{% extends 'adminNav.html' %}

{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Images/logo2.png">
    <link rel="stylesheet" href="{% static 'CSS/AddNewJobs.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="{% static 'JS/AddNewJob.js' %}"></script>
    <title>Add New Job</title>

</head>

<body>
    <nav id="navbar">
        {% load static %}
        <img src="{% static 'Images/logo2.png' %}" alt="Website's Logo" class="navimg">
        <ul>
            <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="{% url 'created_jobs' %}">Created Jobs</a></li>
            <li><a href="{% url 'add_new_jobs' %}">Add Job</a></li>
        </ul>

    </nav>
   
    <div class="input-group">
        <form action="{% url 'add_new_jobs' %}" onsubmit="return validateForm()" id="my-form" method="post">
            <h1>Job Opportunities</h1>
            <label for="ID">Job ID:</label><br>
            <input type="number" id="Job_ID" name="Job_ID"><br><br>
            <span id="jobIdError" class="error-message"></span>

            <label for="job_title">Job Title:</label><br>
            <input type="text" id="job_title" name="job_title"><br><br>
            <span id="jobTitleError" class="error-message"></span>

            <label for="salary">Salary:</label><br>
            <input type="number" id="salary" name="salary" min="1"><br><br>
            <span id="salaryError" class="error-message"></span>

            <label for="company_name">Company Name:</label><br>
            <input type="text" id="company_name" name="company_name"><br><br>
            <span id="companyNameError" class="error-message"></span>

            <label for="job_status">Job Status:</label><br>
            <input type="radio" id="open" name="job_status">
            <label for="open">open</label><br>
            <span class="error-message"></span>

            <input type="radio" id="close" name="job_status">
            <label for="close">close</label><br><br>
            <span id="jobStatusError" class="error-message"></span>



            <label for="user">Created:</label><br>
            <input id="user" type="text" name="user"><br><br>
            <span id="createdError" class="error-message"></span>

            <label for="years_of_experience">Years of Experience:</label><br>
            <input type="text" id="years_of_experience" name="years_of_experience"><br><br><br>
            <span id="yearsOfExperienceError" class="error-message"></span>

            <label for="location">Location:</label><br>
            <input type="text" id="location" name="location"><br><br>
            <span id="locationError" class="error-message"></span>

            <label for="description">Description:</label><br>
            <textarea id="description" name="description" placeholder="Job Description"></textarea><br><br>
            <span id="descriptionError" class="error-message"></span>

            <label for="WorkType">Work Type:</label><br>
            <select name="WorkType" id="WorkType">
                <option value="Hyprid">Hybrid</option>
                <option value="On-site">On-site</option>
                <option value="Remote">Remote</option>
            </select>
            <br><br>
            <input type="submit" value="Add Job Opportunity" id="submit-button">
            <span class="error-message"></span>
            <input type="reset" value="Reset">
            <span class="error-message"></span>
        </form>
    </div>


</body>

</html> -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Job</title>
    {% load static %}
    <link rel="icon" href="{% static 'Images/logo2.png' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/apply.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script type="text/javascript" src="{% static 'JS/AddNewJob.js' %}"></script> -->
    

</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        <br><h2>Add Job</h2><br><br>
        
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Job Opportunity</button>
    </form>
</body>

</html>





{% endblock content %}