{% extends 'userbase.html' %} 

{% block content %}


<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'Images/logo2.png'%}">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'CSS/apply.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Apply</title>
</head>
<body>
   
  
    <form method="post" enctype="multipart/form-data">
        <h1> Application Form</h1>
        {% csrf_token %}
        {{ af.as_p }}
        <input type="submit" value="Submit">
    </form>
   
</body>
</html>

{% endblock content %}