<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <footer>
        <p class="bold">Contact Us</p>
        <span class="contact-option"><span class="bold"><i class="fa-solid fa-envelope"></i>Email:
            </span>aabbcc@gmail.com</span>
        <span class="contact-option"><span class="bold"><i class="fa-solid fa-phone"></i>Phone:
            </span>011223344556</span>
        <span class="contact-option"><span class="bold"><i class="fa-solid fa-map-location"></i>Address:
            </span>Egypt</span>
    </footer>
</body>
</html>