
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebebeb;
}
form input,
form textarea,
form select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  /* width: calc(100% - 40px);  */
  display: block;
  width: 250px;

  outline: none;
  background-color: #d6e8ee;
  margin-left: 170px; 
}

form input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  border-color: #001b48;
}

form {
  width: 650px;
  border: 2.5px solid #001b48;
  height: auto;
  padding: 20px;
  border-radius: 18px;
  color: #001b48;
  background-color: white;
  margin-left: 440px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  overflow: hidden; 
}

form select,
form option {
  margin-right: 90px;
}
form input[type="submit"] {
  width: flex;
  background-color: #d6e8ee;
  border-radius: 20px;
  color: #001b48;
}

form input[type="submit"]:hover{
  background-color: #02457a;
  color: white;
}
body {
  background-color: #ebebeb;
}
label {
  display: inline;
  width: 50px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.error-message {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 4px;
  position: center;
}

.error-message.active {
  display: block;
}