#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02457A;
    width: 100%;
    height: 85px;
    /* margin-bottom: 50px; */
}
#navbar ul{
    display: flex;
    list-style-type: none;
    margin-right:50px;
    gap: 40px;
}
.navimg{
    width: 120px;
    height: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 50px;
}

#navbar a{
    display:inline-block ;
    position: relative;
    text-decoration: none;
    color: #D6E8EE;
    font-weight: 800;
    font-size: 20px;   
}
#navbar li i{
    margin-right: 3px;
}
#navbar a:before, nav a:after{
    content:"";
    position: absolute;
    background-color:#D6E8EE;
    height:2px;
    width: 0;
    transition:0.5s;
}
#navbar a:after{
    left:0;
    bottom: -5px;
}
#navbar a:before{
    right: 0;
    top:-5px;
}
#navbar a:hover:after,
#navbar a:hover:before{
  width: 100%;
} 
#navbar a:hover{
  color: #97CADB;
}
