{% extends 'adminbase.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Job</title>
    {% load static%}
    <link rel="icon" href="{% static 'Images/logo2.png' %}">
    <link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/EditJob.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    </style>
</head>

<body>
    <form action="" method="post" id="my-form" novalidate>
        {% csrf_token %}
        <h2>Edit Job Details</h2>
        <br>
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <span class="error-message" id="{{ field.auto_id }}-error"></span>
            {% if field.errors %}
            <span class="error-message">{{ field.errors }}</span>
            {% endif %}
        </p>
        <br>
        {% endfor %}
        <input type="submit" value="Edit" id="submit-button">
        <input type="reset" value="Reset" id="reset-button">
    </form>
    <script type="text/javascript" src="{% static 'JS/EditJob.js' %}"></script>
</body>

</html>
{% endblock content %}